<a href="https://colab.research.google.com/github/RajeshNaidu1/DataScience/blob/main/Pandas_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
#version check of pandas
print(pd.__version__)

1.1.5

In [ ]:
#creating a Series from the list
A = [1,2,3,4]
series= pd.Series(A)
print(series)

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
#creating Panda Series from Numpy
import numpy as np
n= np.random.randn(5)
index = ['a','b','c','d','e']
series1= pd.Series(n,index=index)
print(series1)

a   -0.049056
b    0.169968
c   -0.321959
d    2.508754
e    0.971595
dtype: float64

In [ ]:
#creating Panda Series from Dictionaries
d={'a':1,'b':2,'c':3,'d':4}
series2=pd.Series(d)
print(series2)

a    1
b    2
c    3
d    4
dtype: int64

In [ ]:
#modify the index
series.index=['A','B','C','D']
print(series)

A    1
B    2
C    3
D    4
dtype: int64

In [ ]:
#append the series
series3=series.append(series1)
print(series3)

A    1.000000
B    2.000000
C    3.000000
D    4.000000
a   -0.049056
b    0.169968
c   -0.321959
d    2.508754
e    0.971595
dtype: float64

In [ ]:
#deleting the data from Series
series2.drop('d')

a    1
b    2
c    3
dtype: int64

In [ ]:
print('median', series2.median())
print('max', series2.max())
print('min', series2.min())

median 2.5
max 4
min 1